* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #e0e0e0;
  flex-direction: row;
}
h1 {
  font-style: italic;
  color: white;
}

#taskbar-icon {
  height: auto;
  width: 15%;
  padding: 5px 2px;
}
#search {
  width: 100%;
  height: 5%;
  padding: 5px;
}
#settings-icon {
  display: flex;
  width: clamp(3%,3.5%,4%);
  align-items: flex-end;
}

#sidebar-button {
  display: flex;
  align-items:end;
}

.search-container {
  display:flex;
  flex-direction: column;
  border:1px;
  border-style:solid;
}